{% extends "qr/layout.html" %}

{% block body %}
<div style="margin-left: 20px;">
   <h2 id="order">Register</h2>
   {% if message %}
      <div> {{ message }}</div>
   {% endif %}
   
   <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input class="form-control" autofocus type="text" name="username" placeholder="Username" style="width: 200px;">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="email" name="email" placeholder="Email" style="width: 200px;">
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="password" name="password" placeholder="Password" style="width: 200px;" minlength="8" required>
        </div>
        <div class="form-group">
            <input class="form-control" autofocus type="password" name="confirmation" placeholder="Confirm" style="width: 200px;" minlength="8" required>
        </div>
        <input class="btn btn-primary" type="submit" value="Register">
   </form>
   <br>
 <p id="order">Already registered? <a href="{% url 'login' %}">Login</a></p> 
<br>
<p class="back_to_top"><a href="{% url 'index' %}">Back to top</a></p>
</div>
{% endblock %}